* {
    outline: none;
    padding: 0;
    box-sizing: content-box !important;
}
h1 {
    font-size: 2.5em;
    font-family: inherit !important;
}
input {
    padding: .5em .8em;
    margin-bottom: .3em;
    border: 1px solid #ddd;
}
button.submit {
    width: 60%;
    margin-top: .5em;
    cursor: pointer;
}
div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
div.outer-form {
    padding: 2em;
    padding-bottom: 10em !important;
}